@font-face {
	font-display: swap; 
    font-family: "Unbounded-Bold";
    src: local('Poppins'),
    	 url('../fonts/Unbounded-Bold.woff2') format("woff2"),
         url('../fonts/Unbounded-Bold.woff') format("woff");  
    font-weight: 700;
    font-style: normal;
}