@import 'reset';
@import 'animate';
@import 'fonts';


html {
	background-color: #fff;
	height: calc(100%);
}
body {
	margin: 0 auto;
	max-width: 550px;
	height: 100%;
}

#game {
	position: relative;
}

.success {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -147px;
	margin-top: -105px;
	width: 100%;
	height: 210px;
	box-sizing: border-box;
	max-width: 294px;
	padding: 38px 12px;
	background-color: #FFFFFF;
	border-radius: 30px;
	font-family: 'Unbounded-Bold', Helvetica, sans-serif;
	color: #204043;
	text-align: center;
	z-index: 100;
	animation: fadeIn 2s 1;
	&__title {
		font-size: 24px;
		line-height: 29px;
		text-transform: uppercase;
		margin-bottom: 14px;
	}
	&__score {
		font-size: 12px;
		line-height: 14px;
	}
	&__lives {
		font-size: 12px;
		line-height: 14px;
		margin-top: 8px;
	}
	&__btn {
		border: none;
		outline: none;
		appearance: none;
		margin-top: 14px;
		font-family: 'Unbounded-Bold', Helvetica, sans-serif;
		font-size: 12px;
		line-height: 14px;
		color: #FFFFFF;
		width: 100%;
		max-width: 132px;
		cursor: pointer;
		background-color: #DF2123;
		border-radius: 16px;
		padding: 12px;
	}
}